@model IEnumerable<WlanTestSystem.Application.ModelView.TB_WLAN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WIFI_MAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BT_MAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusTest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VEND_CODE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WIFI_MAC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BT_MAC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusTest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VEND_CODE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WlanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WlanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WlanId })
        </td>
    </tr>
}

</table>
